<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>konto</title>
</head>
<body>

<h1>Lista przelewów</h1>
<table border>
    <tr>
        <th>
            numer konta
        </th>
        <th>
            kwota przelewu
        </th>
    </tr>
    {% for przelew in lista_przelewow %}
    <tr>
        <td> {{przelew['numer_konta']}}</td>
        <td> {{przelew['kwota']}}</td>
    </tr>
    {% endfor %}
</table>
<h1> Stan konta </h1>
Stan konta: {{stan_konta}}

<h1>Wykonaj przelew:</h1>

<form action="/konto" method="post">
        <label for="kwota"> Kwota:</label>
        <input type="text" name="kwota">
        <label for="nr_konta"> Numer konta </label>
        <input type=text" name = "nr_konta">
        <button type="submit">Wyślij</button>
</form>
</body>
</html>