<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pracownik</title>
</head>
<body>

<h1> Dane pracownika </h1>
<table border>
    <tr>
        <td>imię:</td>
        <td>{{ pracownik['imie']}}</td>
    </tr>
    <tr>
        <td>nazwisko:</td>
        <td>{{ pracownik['nazwisko']}}</td>
    <tr>
        <td>pensja:</td>
        <td>{{ pracownik['placa']}}</td>
    </tr>
    <tr>
        <td>opis:</td>
        <td>{{ pracownik['opis']}}</td>
    </tr>
</table>

<h1> Czy usunąć pracownika z listy pracowników? </h1>
<form action='/pracownik/1' method="post">
       <button type="submit">Tak</button>
</form>

</body>
</html>